@font-face {
  font-family: 'tetrominoes';
  src: url('fonts//tetrominoes.ttf');
}

@font-face {
  font-family: 'Leorio';
  src: url('fonts/Leorio.ttf');
}

body {
  background-color: rgba(230, 234, 214, 0.834);
  font-family: 'Leorio', fallback, sans-serif;
  background-image: url('./fotos/foto.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  color: rgb(78, 82, 91);
}

h1 {
  font-family: 'tetrominoes', fallback, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30px);
  padding-top: 250px;
}

#headshot {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 160px;
  left: 45px;
}

#bio {
  position: absolute;
  top: 220px;
  left: 10px;
  width: 180px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(232, 154, 154);
  text-align: center;
}
