@font-face {
  font-family: 'Leorio';
  src: url('fonts/Leorio.ttf');
}

body {
    font-family: 'Leorio', fallback, sans-serif;
    background-color: rgb(172, 197, 247);
    color: rgb(205, 232, 154);

  }

  h1 {
    color: rgb(255, 255, 255);
    font-family: 'tetrominoes', fallback, sans-serif;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 30px);
}

  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right; 
    padding: 0;
  }
  
  nav ul li {
    /* display: inline; */
    margin: 0 20px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background-color: darkblue; */
    color: rgb(205, 232, 154);
    text-align: center;
  }
  